---
import Layout from "../../layouts/Layout.astro";
---

<Layout
    title="Split It!"
    description="Split text with customizability"
    id="split-it"
>
    <script is:inline>
        let splo;

        async function pChange() {
            let el = document.querySelector("#pre")?.value;

            switch (el) {
                case "basic-span":
                    document.querySelector("#sep").value = "";
                    document.querySelector("#tag").value = "span";
                    document.querySelector("#attrs").value = "";
                    document.querySelector("#void").checked = false;
                    break;
                case "span-tag":
                    document.querySelector("#sep").value = "";
                    document.querySelector("#tag").value = "span";
                    document.querySelector("#attrs").value = "id='span-((i))'";
                    document.querySelector("#void").checked = false;
                    break;
                case "p-split":
                    document.querySelector("#sep").value = "\\n\\n";
                    document.querySelector("#tag").value = "p";
                    document.querySelector("#attrs").value = "";
                    document.querySelector("#void").checked = false;
                    break;
                case "wrap-div":
                    document.querySelector("#sep").value = "";
                    document.querySelector("#tag").value = "div";
                    document.querySelector("#attrs").value = "";
                    document.querySelector("#void").checked = false;
                    break;
            }

            fChange();
        }

        async function fChange() {
            let sep = document.querySelector("#sep")?.value;
            let spl = document
                .querySelector("#text-split")
                ?.value.split(sep.replaceAll("\\n", "\n"));
            let tag = document.querySelector("#tag")?.value;
            let att = document.querySelector("#attrs")?.value;
            let voi = document.querySelector("#void")?.checked;

            splo = spl
                .map((t, i) => {
                    if (/^\s+$/.test(t)) {
                        return t;
                    }

                    return voi
                        ? `<${tag}${att ? ` ${att}` : ""}/>`
                              .replaceAll("((i))", i)
                              .replaceAll("((v))", t)
                        : `<${tag}${att ? ` ${att}` : ""}>${t}</${tag}>`
                              .replaceAll("((i))", i)
                              .replaceAll("((v))", t);
                });

            let spli = splo.join('\n');
            let splc = splo.map((t) => t === '' ? '\n' : t).join('');

            document.querySelector("#out textarea#vis-t").value =
                splo ? spli : "Write something!";

            document.querySelector("#out textarea#hid-cp").value =
                splo ? splc : "Write something!";
        }

        function copy(el) {
            let area = document.querySelector('#hid-cp');

            area.select();
            area.setSelectionRange(0, 99999);
            navigator.clipboard.writeText(area.value);

            el.innerHTML = '<span class="ms">check</span> Copied to clipboard!'

            setTimeout(() => {el.innerHTML = '<span class="ms">content_copy</span> Copy to Clipboard'}, 2500)
        }
    </script>

    <h1>Split It!</h1>
    <p>
        Basically <a
            href="https://juneish.neocities.org/written/resources/?page=span-ify"
            target="_blank">juneish's span-ify</a
        >, but customizable!
    </p>

    <div id="cont" class="cont">
        <div id="left">
            <div>
                <p>Presets</p>
                <select id="pre" class="w-full" size="4" onchange="pChange()">
                    <option value="basic-span">Basic &lt;span&gt;</option>
                    <option value="span-tag">&lt;span&gt; with id</option>
                    <option value="p-split"
                        >Paragraph split (from layercake)</option
                    >
                    <option value="wrap-div"
                        >Wrap each chars in a &lt;div&gt;!!!</option
                    >
                </select>
            </div>
            <form class="w-full" oninput="fChange()">
                <div>
                    <label for="text-split">Text to split</label><br />
                    <textarea class="w-full border" id="text-split"></textarea>
                </div>
                <div>
                    <label for="sep"
                        >The seperator (leave blank to split each character, use
                        \n to split newlines)</label
                    ><br />
                    <input
                        type="text"
                        class="w-full border"
                        id="sep"
                        value=""
                    />
                </div>
                <div>
                    <label for="tag">The tag</label><br />
                    <input
                        type="text"
                        class="w-full border"
                        id="tag"
                        value="span"
                    />
                </div>
                <div>
                    <input type="checkbox" id="void" />
                    <label for="void">Void element?</label>
                </div>
                <div>
                    <label for="attrs">Tag Attributes</label><br />
                    <p>
                        Use <code>((i))</code> for the index, and<br /><code
                            >((v))</code
                        > for the value (useful for void tags!)
                    </p>
                    <input
                        type="text"
                        class="w-full border"
                        id="attrs"
                        value=""
                    />
                </div>
            </form>

            <div>
                <button onclick="copy(this)"><span class="ms">content_copy</span> Copy to Clipboard</button>
            </div>
        </div>
        <div id="out">
            <textarea id="vis-t" readonly>Write something!</textarea>
            <textarea id="hid-cp" style="display: none !important;" readonly></textarea>
        </div>
    </div>

    <style>
        .cont {
            display: grid;
            grid-template-columns: repeat(2, minmax(100px, 1fr));
            gap: 6px;
            padding-top: 12px;
        }

        form > div {
            padding-top: 12px;
        }

        form {
            padding-bottom: 12px;
        }

        textarea, input:not(#void), select {
            height: 100%;
        }

        @media (width <= 640px) {
            .cont {
                grid-template-columns: repeat(1, minmax(100px, 1fr));
            }
        }
    </style>
</Layout>
