---
import Layout from "../layouts/Layout.astro";
import { bookmarks, type Bookmark, type BookmarkUrl } from "../assets/bookmarks";

function groupArrayByCategory(arr: Bookmark[]) {
    const result: Dict<{name: string, bookmarks: Bookmark[]}> = {};
    arr.forEach((item: Bookmark) => {
        const category = item.category;

        if (!result[category]) {
            result[category] = {
                name: category,
                bookmarks: [],
            };
        }

        result[category].bookmarks.push(item);
    });
    return Object.values(result);
}

const bookmarkCategories = groupArrayByCategory(bookmarks);
---

<Layout title="Bookmarks" id="bookmarks">
    <h1 class="headercolor text-4xl leading-snug">Bookmarks</h1>
    <p>Here's some helpful links that you might want to check out!</p>
    <p class="small" id="neocities-scripts">
        (note 1) Won't work on free Neocities accounts created since 2022,
        unless a workaround was done
    </p>

    {bookmarkCategories.map((val) => 
        <h2>{val.name}</h2>
        <div class="bookmarks">{val.bookmarks.map((bk) => 
            
            <div class="bookmark-item-container">
                    <div class="bookmark-item">
                        <a href={bk.url} target="_blank">
                            <h3 set:html={bk.name + ' <span class="ms">open_in_new</span>'}></h3>
                        </a>
                        {bk.recommended && <span class="small"><i>(recommended!)</i></span>}
                        {bk.warning && <span class="small"><i set:html={`(${bk.warning})`}></i></span>}
                        <p set:html={bk.description}></p>
                    </div>
                <div class="additional-urls">
                    {bk.additionalUrls?.map((url) => 
                        <a href={url.url} target="_blank">{url.name} <span class="ms">open_in_new</span></a>
                    )}
                </div>
            </div>
        )}</div>
    )}

    <style>
        .bookmarks {
            display: grid;
            grid-template-columns: repeat(3, minmax(100px, 1fr));
            gap: 6px;
        }

        .bookmark-item-container {
            background-color: var(--acc);
            padding: 6px;
        }

        .additional-urls a:not(:last-child)::after {
            content: ', ';
        }

        @media (width <= 640px) {
            .bookmarks {
                grid-template-columns: repeat(1, minmax(100px, 1fr));
            }
        }
    </style>
</Layout>
