---
import path from 'path';
import Layout from '../layouts/Layout.astro';
import { listInstalled } from 'list-installed';

const __dirname = path.resolve(path.dirname(''));
const pkgMap = await listInstalled(__dirname);
const packages = Array.from(pkgMap.entries());
console.log(packages.length);
const packageChunks = [];
for (let i = 0; i < packages.length; i += 100) {
    const chunk = packages.slice(i, i + 100);
    packageChunks.push(chunk); }
---

<Layout title="Packages" description="The packages used to build and develop jb's site" id="packages">
    <script src="../assets/previewTab.ts"></script>

    <h1>Packages</h1>
    <p>The packages used to build and develop jb's site. There's currently {packages.length} packages here!</p>
    <div class="previewTabLayout">
        <div class="previewTabButtons">
            {packageChunks.map((v, ind) => 
                <button class={"tabLayoutButton" + (ind == 0 ? ' active' : '')} data-tab-layout={"page-" + (ind + 1)}>P{ind+1}</button>
            )}
        </div>
        <div class="previewTabs">
            {packageChunks.map((pkgs, ind) =>
                <div class={"tabLayout" + (ind == 0 ? ' active' : '')} id={"page-" + (ind + 1)}>
                    {pkgs.map((pkg, ind) =>
                        <a href={pkg[1].homepage} target="_blank" data-index={ind} style={ind >= 100 ? 'display: none;' : ''}>
                            <div class="packageCard">
                                <h2>{pkg[0]} <span class="ms" aria-hidden="true" data-icon="open_in_new"></span></h2>
                                <p>{pkg[1].description}</p>
                                <p class="tg">{pkg[1].keywords?.join(', ')}</p>
                            </div>
                        </a>
                    )}
                </div>
            )}
        </div>
    </div>

    <style slot="head" is:inline>
        .tabLayout:not(:first-child) {
            display: none;
        }

        .previewTabs {
            background: var(--altbg);
            padding: 6px;
        }

        .previewTabLayout {
            background: var(--acc);
            padding: 6px;
        }

        .previewTabs {
            display: grid;
            gap: 6px
        }

        .packageCard {
            padding: 6px;
            background: var(--acc);
            margin-block: 6px;
        }

        .packageCard:hover {
            background: var(--altbg);
        }

        .packageCard h2 {
            padding-top: 0;
        }
    </style>
</Layout>