---
const { name, link, prev, next, random, style, textStyle } = Astro.props;
---

<div class="webring-card" style={style ?? ''}>
    <a href={link}>
        <p style={textStyle}>{name}</p>
    </a>
    <div>
        <a href={prev} aria-label="previous site"><span aria-hidden="true" class="ms" data-icon="keyboard_double_arrow_left" class="webring-links" style={textStyle}></span></a>{random && <a href={random} aria-label="random site"><span aria-hidden="true" class="ms" data-icon="shuffle" class="webring-links" style={textStyle}></span></a>}<a href={next} aria-label="next site"><span aria-hidden="true" class="ms" data-icon="keyboard_double_arrow_right" class="webring-links" style={textStyle}></span></a>
    </div>
</div>

<style is:inline>
    .webring-card {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 6px;
        font-size: 1.75rem;
        font-weight: 700;
        
        a:has(p) {
            max-width: 70%;
            
            p {
                font-size: 0.85em;
                max-width: 100%;
                padding: 0;
                margin: 0;
                overflow:hidden;
                text-wrap-mode: nowrap;
                text-overflow: ellipsis;
            }
        }
    }

    html[data-color='light'] .webring-card {
        background-clip: border-box !important;
        & * {
            color: var(--link) !important;
        }
    }
</style>