---
import Customize from "../jwindows/Customize.astro";
import Player from "../jwindows/Player.astro";
---

<script is:inline>
    document.addEventListener("DOMContentLoaded", loadEvents);
    document.addEventListener("astro:after-swap", loadEvents);

    /** @param {MouseEvent} mev */
    function clickWindowEvent(mev) {
        let window = mev.target.parentElement.parentElement;
        document.querySelectorAll(".floating-window").forEach((w) => {
            w.classList.remove('focused');
        });
        window.classList.add('focused');
    }

    function clickTitlebarEvent(mev) {
        let window = mev.target.parentElement.parentElement;
        if (window.classList.contains("move")) {
            window.classList.remove("move");
            document.removeEventListener("pointermove", (ev) =>
                titlebarMove(mev, ev, window),
            );
        } else {
            window.classList.add("move");
            document.addEventListener("pointermove", (ev) =>
                titlebarMove(mev, ev, window),
            );
        }
    }

    function loadEvents() {
        console.log('loading window events')

        document.querySelectorAll(".floating-window").forEach((window) => {
            window.addEventListener('click', clickWindowEvent)

            let titlebar = window.querySelector(".floating-window-titlebar p:first-child");
            if (matchMedia('(width <= 640px)').matches) return;

            titlebar.addEventListener("click", clickTitlebarEvent);
        });
    }


    function titlebarMove(mev, ev, window) {
        if (!window.classList.contains("move")) return;
        window.style.setProperty("--left", ev.clientX - mev.layerX + "px");
        window.style.setProperty("--top", ev.clientY - mev.layerY + "px");
    }

    function showWindow(el) {
        document
            .querySelector(`.floating-window#${el.dataset.id}`)
            .classList.toggle("visible");
        document
            .querySelector(`.floating-window#${el.dataset.id}`)
            .classList.add("focused");
        el.classList.toggle("active");
    }

    function showTab(el) {
        document
            .querySelectorAll("#customize .tab-buttons button")
            .forEach((el) => {
                el.classList.remove("active");
                document
                    .querySelector(`.tab#${el.dataset.tabId}`)
                    .classList.remove("visible");
            });
        document
            .querySelector(`.tab#${el.dataset.tabId}`)
            .classList.add("visible");
        el.classList.add("active");
    }

    function closeWindow(el) {
        console.log(el);
        let pa = el.parentElement.parentElement;
        pa.classList.remove('visible');
        pa.classList.remove('focused');
        console.log(pa);
        document
            .querySelectorAll(".window-toggle")
            .forEach((ele) => {
                if (ele.dataset.id === pa.id) {
                    console.log(ele);
                    ele.classList.remove('active');
                }
            });
    }
</script>

<Customize />

<Player />

<div class="floating-window" id="tty">
    <div class="floating-window-titlebar">
        <p>jTTY</p>
        <p onclick="closeWindow(this)"><span aria-hidden="true" class="ms" data-icon="close"></span></p>
    </div>
    <div class="jonsole--content floating-window-content">
        <p>[jbcarreon123@nekoweb ~]$ cd ..</p>
        <p>cd: /home/: Permission denied</p>
        <p>[jbcarreon123@nekoweb ~]$ ls</p>
        <p style="color: var(--link-hover); font-weight: 700;">fonts imgs webrings ocs</p>
        <p>[jbcarreon123@nekoweb ~]$ cd ocs</p>
        <p>[jbcarreon123@nekoweb ~/ocs]$ ls</p>
        <p style="font-weight: 700;">test1 test2</p>
        <p>[jbcarreon123@nekoweb ~/ocs]$ cat test1</p>
        <p>Testing!!!!</p>
        <p>[jbcarreon123@nekoweb ~/ocs]$</p>
    </div>
</div>

<!-- <div class="floating-window">
    <div class="floating-window-titlebar">
        <p>jBrowser - https://thinliquid.dev</p>
        <p onclick="closeWindow(this)"><span aria-hidden="true" class="ms" data-icon="close"></span></p>
    </div>
    <div class="browser--content floating-window-content">
        <iframe src="https://thinliquid.dev">
            loading
        </iframe>
    </div>
</div> -->

<style is:inline>
    .floating-window {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: var(--top, 0);
        left: var(--left, 0);
        min-width: 350px;
        z-index: 998;
        transition: none !important;
        border: 1px solid var(--link-hover);
        overflow: hidden;
        display: flex;
        flex-direction: column;
        max-width: calc(100vw - 2px);

        &.focused {
            border: 1px solid var(--link);
            z-index: 999;
        }

        .floating-window-titlebar {
            display: flex;
            flex-direction: row;
            background-color: var(--acc);
            padding: 0 6px;

            p:first-child {
                flex-grow: 1
            }   

            p {
                cursor: pointer;
            }
        }        

        .floating-window-content {
            display: flex;
            flex-direction: column;
            min-height: 200px;
            background-color: var(--bg);
            padding: 6px;
            overflow: auto;
        }

        &.move {
            * {
                cursor: grabbing !important;
            }
        }

        &:not(.visible) {
            display: none;
        }
    }

    .jonsole--content {
        background-color: var(--altbg) !important;
        font-family: "Commit Mono", monospace;
        width: 500px;
        height: 250px;

        * {
            padding: 0 !important;
        }
    }

    .browser--content {
        height: 400px;
        width: 600px;

        iframe {
            width: 100%;
            height: 100%;
            border: 0;
            padding: 0;
            background: 0;
            max-width: initial !important;
        }
    }

    .select-container {
        display: grid;
        grid-template-columns: repeat(3, minmax(6px, 1fr));
        gap: 12px;

        .select {
            flex-grow: 1;
            padding: 6px;
            background-color: var(--bg);
            cursor: pointer;
            font-family: var(--font);

            &:hover {
                background-color: var(--altbg);
            }

            &.selected {
                background-color: var(--acc);
            }

            .color-preview {
                display: grid;
                grid-template-columns: repeat(7, minmax(6px, 1fr));
                gap: 3px;

                div {
                    margin-top: 6px;
                    height: 20px;
                    background-color: var(--cl);
                }
            }
        }
    }

    @media (width <= 640px) {
        .floating-window {
            top: 0;
            left: 0;
            max-height: 100vh;
        }
    }
</style>
